<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Message</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <!-- Label and input for site_id -->
      <div class="form-group">
        <label for="site_id" class="control-label">
          Site
        </label>

        <%= select_tag(:site_id, options_from_collection_for_select(Site.order("name ASC"), :id, :name, @message.site_id), :class => "form-control") %>

      </div>

      <!-- Label and input for header -->
      <div class="form-group">
        <label for="header" class="control-label">
          Header
        </label>

        <input type="text" id="header" name="header" placeholder="Header" class="form-control" value="<%= @message.header %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @message.body %></textarea>
      </div>

      <button class="btn btn-success">
        Create Message
      </button>
      or
      <a href="/messages">Cancel</a>
    </form>
  </div>
</div>
